.body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.nav {
  justify-content: center;
  padding: 5px;
  height: 50px;
}

a {
  padding: 5px;
}

.homepage-buttons {
  display: grid;
  grid-template-areas:
    "button button"
    "button button"
    "button button";
}

.homepage-left-buttons {
  display: grid;
  grid-template-areas:
    "button"
    "button"
    "button";
  margin: 5px 5px 5px 200px;
}

.homepage-right-buttons {
  display: grid;
  grid-template-areas:
    "button"
    "button"
    "button";
  margin: 5px 200px 5px 5px;
}

button {
  height: 100px;
  width: 400px;
  font-size: 28px;
}

.logged-workout {
  border: 1px solid black;
  border-radius: 20px;
  height: 250px;
  width: 200px;
  text-align: left;
  padding: 5px;
  margin: 0px 3px 6px 3px;
}

.logged-workout-display {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 100px;
  justify-content: center;
}
.logged-workouts-inline-styling {
  font-weight: bold;
  color: aqua;
}

.exercise-title {
  border-bottom: 1px solid black;
}
.excersize-title-link {
  text-decoration: none;
  padding: none;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form {
  border: 0.2px solid gray;
  text-align: left;
  margin: 2px 500px 0.5px 500px;
  padding: 5px;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
}

.form-button {
  border: 0.2px solid gray;
  margin: 2px 500px 0.5px 500px;
  height: 50px;
  width: 100px;
  text-align: left;
  padding: 5px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.footer {
  margin-top: 200px;
  border-top: 1px solid gray;
  padding-top: 10px;
  background-color: navy;
  height: 100px;
}

.link-header,
.link-footer {
  text-decoration: none;
  margin: 5px;
  color: white;
}

.link-footer {
  font-size: 16px;
}

.link-header {
  font-size: 20px;
}

nav {
  background-color: navy;
}

select,
option {
  font-family: "Ubuntu", sans-serif;
  /* font-weight: bolder; */
}

/* ::placeholder {
  position: absolute;
  color: gray;
} */
