.body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.nav {
  justify-content: center;
  padding: 5px;
  height: 50px;
}

a {
  padding: 5px;
  margin: 0px;
}

h1 {
  font-size: 46px;
  font-weight: lighter;
}

h2 {
  font-size: 34px;
  font-weight: lighter;
}

.full-page-home {
  /* https://css-tricks.com/perfect-full-page-background-image/ */
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-home-overlay {
  /* https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ */
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.full-page-legs {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-legs-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.full-page-arms {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-arms-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.full-page-abs {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-abs-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-cardio {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-cardio-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.full-page-back {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-back-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.full-page-recovery {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-recovery-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.full-page-form {
  background: url("https://i.imgur.com/2kZdWww.jpg?2") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}
.full-page-form-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(205, 211, 235, 0),
      rgba(2, 16, 48, 0.982)
    ),
    url("https://i.imgur.com/2kZdWww.jpg?2");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 20px;
  min-height: 1000px;
}

.homepage-header {
  margin: 0;
  padding: 5px 0px;
}

.homepage-buttons {
  display: grid;
  grid-template-areas:
    "button button"
    "button button"
    "button button";
}

.homepage-left-buttons {
  display: grid;
  grid-template-areas:
    "button"
    "button"
    "button";
  justify-self: right;
}

.homepage-right-buttons {
  display: grid;
  grid-template-areas:
    "button"
    "button"
    "button";
  justify-self: left;
}

button {
  height: 100px;
  width: 300px;
  font-size: 32px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #52d5e999;
  color: white;
}

button:hover {
  color: white;
  background-color: rgba(2, 16, 48, 0.982);
  border: white solid 2px;
  opacity: 1;
  transition: all 300ms ease;
}

.logged-workout {
  border: 1px solid black;
  border-radius: 20px;
  height: 250px;
  width: 200px;
  text-align: left;
  padding: 5px;
  margin: 0px 3px 6px 3px;
}

.logged-workout-display {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 100px;
  justify-content: center;
}
.logged-workouts-inline-styling {
  font-weight: bold;
  color: aqua;
}

.exercise-title {
  border-bottom: 1px solid black;
}
.excersize-title-link {
  text-decoration: none;
  padding: none;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form {
  border: 0.2px solid gray;
  text-align: left;
  margin: 2px 500px 0.5px 500px;
  padding: 5px;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
}

.form-button {
  border: 0.2px solid gray;
  margin: 2px 500px 0.5px 500px;
  height: 50px;
  width: 100px;
  text-align: left;
  padding: 5px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.footer {
  border-top: 1px solid rgba(2, 16, 48, 0.982);
  padding-top: 10px;
  background-color: rgba(1, 10, 29, 0.982);
  height: 100px;
}

.link-header,
.link-footer {
  text-decoration: none;
  margin: 5px;
  color: white;
}

.link-footer {
  font-size: 16px;
}

.link-header {
  font-size: 20px;
}

nav {
  background-color: rgba(1, 10, 29, 0.982);
}

select,
option {
  font-family: "Ubuntu", sans-serif;
  /* font-weight: bolder; */
}
